In [1]:
import twint
import nest_asyncio
nest_asyncio.apply()

In [5]:
conf = twint.Config()
conf.Count = True
conf.Retweet = True
conf.Stats = True
conf.Show_hashtags = True
conf.Hide_output = True
conf.Profile_full = True
conf.Store_json = True
conf.Search = '#PresidenLanggarKonstitusi'
conf.Output = './data/PresidenLanggarKonstitusi.json' # save to json
twint.run.Search(conf)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 2259 Tweets.

In [2]:
import pandas as pd
import numpy as np

In [9]:
raw_df = pd.read_json('./data/PresidenLanggarKonstitusi.json', lines = True)
raw_df.to_csv('./data/PresidenLanggarKonstitusi.csv')

In [3]:
df = pd.read_csv('./data/PresidenLanggarKonstitusi.csv')
df

,Unnamed: 0,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1403680396584259588,1403680396584259584,2021-06-12 18:47:40+07:00,2021-06-12,18:47:40,700,1384638928204963843,ulamaaswaja,Pecinta Ulama Aswaja,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1403680153775923209,1403469275537371136,2021-06-12 18:46:42+07:00,2021-06-12,18:46:42,700,1402258798618816520,gotham_cty0,Gotham,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Hail_Indonesia', 'name': 'Ha...",NaN,NaN,NaN,NaN
2,2,1403679975388028928,1403469275537371136,2021-06-12 18:45:59+07:00,2021-06-12,18:45:59,700,1402258798618816520,gotham_cty0,Gotham,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'B_dzoel', 'name': 'Bang_Dzoe...",NaN,NaN,NaN,NaN
3,3,1403679965216788487,1403679965216788480,2021-06-12 18:45:57+07:00,2021-06-12,18:45:57,700,1192404484166582273,lollynadh,Ecky,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,1403679821868064777,1403616450951094272,2021-06-12 18:45:23+07:00,2021-06-12,18:45:23,700,1164813557801738240,melati152,Melati15,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Adinda_Zahran1', 'name': 'Ad...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2254,2254,830826220828782593,830826220828782592,2017-02-13 00:09:41+07:00,2017-02-13,00:09:41,700,1471535539,heriboedi,#MitraHansip,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2255,2255,830825621861257216,830825621861257216,2017-02-13 00:07:18+07:00,2017-02-13,00:07:18,700,1471535539,heriboedi,#MitraHansip,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2256,2256,830755100859576322,830667093309693952,2017-02-12 19:27:05+07:00,2017-02-12,19:27:05,700,755893995394387968,blessvon16,Sa Metaru Desh,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'maspiyuuu', 'name': 'Mas Piy...",NaN,NaN,NaN,NaN
2257,2257,830644483997851649,830644483997851648,2017-02-12 12:07:32+07:00,2017-02-12,12:07:32,700,871153512,hananyusron,#BeasiswaNTBKeSudan,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2258,2258,830643316525895680,830643316525895680,2017-02-12 12:02:53+07:00,2017-02-12,12:02:53,700,871153512,hananyusron,#BeasiswaNTBKeSudan,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
time = []
for i in range(0, len(df)):
  time.append(df['created_at'][i][:-6])

df['created_at'] = time
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1403680396584259588,1403680396584259584,2021-06-12 18:47:40,2021-06-12,18:47:40,700,1384638928204963843,ulamaaswaja,Pecinta Ulama Aswaja,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1403680153775923209,1403469275537371136,2021-06-12 18:46:42,2021-06-12,18:46:42,700,1402258798618816520,gotham_cty0,Gotham,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Hail_Indonesia', 'name': 'Ha...",NaN,NaN,NaN,NaN
2,2,1403679975388028928,1403469275537371136,2021-06-12 18:45:59,2021-06-12,18:45:59,700,1402258798618816520,gotham_cty0,Gotham,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'B_dzoel', 'name': 'Bang_Dzoe...",NaN,NaN,NaN,NaN
3,3,1403679965216788487,1403679965216788480,2021-06-12 18:45:57,2021-06-12,18:45:57,700,1192404484166582273,lollynadh,Ecky,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,1403679821868064777,1403616450951094272,2021-06-12 18:45:23,2021-06-12,18:45:23,700,1164813557801738240,melati152,Melati15,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Adinda_Zahran1', 'name': 'Ad...",NaN,NaN,NaN,NaN

In [5]:
df.to_csv('./data/PresidenLanggarKonstitusi.csv')